@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,400&display=swap");

*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono";
}

h4,
h3,
h2 {
  font-family: "Roboto Mono";
  font-size: 1rem;
  color: white;
  margin-bottom: 12px;
}

h4 {
  font-size: 0.8rem;
  margin-bottom: 12px;
}

strong {
  color: rgb(247, 235, 3);
}

.icon img {
  max-width: 16px;
  filter: brightness(1.4);
}

.icon img:hover {
  cursor: pointer;
  filter: brightness(1.9);
}

textarea {
  height: 200px;

  width: 100%;
  resize: none;
  outline: none;
  border: none;
  background-color: rgb(15, 15, 15);
  color: white;
  padding: 12px;
}

input {
  display: block;
  padding: 12px;
  width: 100%;
  background-color: transparent;
  border: 1px solid #333;
  outline: none;
  color: white !important;
  border-color: #333 !important;
}

.result-banner {
  height: 100%;
  border: 1px solid #333;
  color: #666;
  padding: 12px;
  font-family: monospace;
  word-wrap: break-word;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
}

.active-result-banner {
  height: 100%;
  border: 1px solid #333;
  color: white;
  padding: 12px;
  font-family: monospace;
  word-wrap: break-word;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
}

.compiler-language-version {
  color: white;
}

#compiler-language-version-label,
#compiler-language-label {
  color: #ccc;
}

.MuiAutocomplete-input {
  color: white !important;
}

svg {
  fill: #ccc !important;
}


.MuiOutlinedInput-notchedOutline {
  border-color: #ccc !important;
}

.message-list {
  overflow: auto;
  height: 85vh;
  width: 100%;
}

.rce-input {
  border: none;
  box-sizing: border-box;
  color: #333 !important;
  flex: 1 1;
  font-size: 14px;
  height: 40px;
  outline: none;
  padding: 0 12px !important;
}

.rce-container-input {
  align-items: center;
  background: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  min-width: 100%;
  border-radius: 5px;
}

.rce-mbox-text:after {
  content: "" !important;
}

.rce-mbox {
  min-width: unset !important;
  background: #302c2c !important;
  color: white;
}

.rce-mbox.rce-mbox-right {
  background: #1976d2 !important;
  color: white;
}

.rce-container-mbox {
  margin: 8px 0px;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}